.container {
  width: 100%;
  background-color: rgba(255,255,255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  backdrop-filter: blur(5px);
}

.wrapper {
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;   
}

.buttonContainer {
  display: none;
}

.coluna{
  color: '#99F3F5'
}

.styleComecar {
  border: solid;
  border-width: 0.1rem;
  border-radius: 2rem;
  border-color: #FFF;
  padding: 0.3rem 1.3rem 0.3rem 1.3rem;
}

.button {
  padding: 0.5rem; 
    color: #4a5568;
  border-radius: 0.375rem; 
  outline: none; 
  border: 1px solid #cbd5e0; 
}

.elemento:focus {
  border-color: #a0aec0; 
}

.hamburgueMenu:focus {
  outline: none;
}

.hamburgueMenu:active {
  outline: none;
}

.ul {
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.li {
  padding-bottom: 1.5rem; 
  font-size: 1.25rem; 
  color: white; 
  padding-top: 0.5rem; 
  padding-left: 1.5rem; 
  text-align: left; 
  border-bottom: 2px solid currentColor;
}

.buttonSolucoes {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
}

/* DROPDOWN */

.titleDropdown {
  color: #5F41D9;
  margin: 1.5rem
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFF;
  border: 1px solid #ddd;
  width: 50rem; 
  white-space: nowrap;
  border-radius: 10px;
}

.informationsDropdown {
  margin: 1.5rem;
}

.linkContainer {
  display: flex;
  align-items: center;
  text-decoration: none; 
}

.imageContainer {
  margin-right: 10px; 
}

.liColumn {
  display: flex;
  align-items: center;
}

.title {
  color: #130C25;
  margin: 1.5rem;
  font-weight: 900;
}

.subtitle {
  font-weight: 300;
}

.column {
  display: inline-block;
  width: 50%; 
  padding: 10px;
}

.dropdown:hover .dropdownContent {
  display: block;
}

/* DROPDOWN LINGUAS */

.subtitleLinguas {
  color: #5A5566
}

@media (min-width: 768px) {
  .buttonContainer {
    display: block;
  }

  .navbar {
    display: block; 
    padding-bottom: 0; 
    margin-top: 0; 
  }

  .ul {
    height: auto;
  }
  
  .li {
    border-bottom: none;
  }
}
